input[type=text], select {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
body{
    background-color: beige;

}
.myDiv{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 270px;
}
.buton{
    width: 70%;
    background-color: #3399ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.buton:hover {
    background-color: mediumpurple;
}
.center{
    text-align: center;

}
.butonUpload{
    width: 20%;
    background-color: #3399ff;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-left: 100px;
}
.butonUpload:hover {
    background-color: mediumpurple;
}
.bodyClass{
    bgcolor: #f5f5dc;
    margin-left: 600px;
    font-size: 18px;
    font-family: Arial;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    width: 20%;
    background-color: #3399ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: mediumpurple;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.paragraf {
    color: lightgrey;
    text-decoration-color: lightgray;
    font-style: italic;
    font-family: Arial;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    text-align: center;
}