input[type=text], select {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body{
    background-color: beige;

}

.myDiv{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 270px;
}
.buton{
    width: 70%;
    background-color: #3399ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buton:hover {
    background-color: mediumpurple;
}
.center{
    text-align: center;

}